
h1{
    font-family: 'Roboto Mono', monospace;
    color: blue;
}

strong {
    color: rebeccapurple;
}

p {
    color: red;
    font-size: 50px;
    margin: auto;
}

#Botao {

    color: red;
    margin: auto 5;
    background-origin: content-box;
    font-size: 12px;
    background: black;
    padding: 7px;

}


#Botao: 

    color: red;
    margin: auto 5;
    background-origin: content-box;
    font-size: 12px;
    background: black;
    padding: 7px;
    box-shadow: 0 5px rgb(2, 2, 56);
}

#Botao:active {

    position: relative;
    top: 5px;
    box-shadow: none;
    
}